body {
    font-family: 'Roboto', sans-serif;
    background-color: #343434;
}

h1,h2 {
    text-align: center;
    color: white;
}

textarea {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
    height: 250px;
    font-size: 16px;
    resize: vertical;
    background-color: #555555;
    font-family: 'Roboto Mono', monospace;
    color: white;
    border-color: #202020;
}

footer {
    position: fixed;
    right: 15px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
    font-size: 12px;
}

/*Nav-bar begin*/
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: #343434;
}
.nav li {
    display: inline;
}
.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.nav a:hover{
    background-color: #202020;
}
.nav a.active{
    background-color: #24b0a2;
}
/*Nav-bar end*/

.column {
    margin-left: auto;
    margin-right: auto;
}

.container {
    border-radius: 10px;
    background-color: #202020;
    margin: 10px auto;
    width: auto;
    padding: 10px 10px;
    text-align: center;
}

.btn {
    background-color: #24b0a2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: auto;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 15px 0px;
}
.btn:hover{
    /* background-color: #2ed9c8; */
    background-color: #1c8a7f;
}
.btn.slim {
    width: 180px;
    padding: 7px 0px;
}

.desc {
    color: #24b0a2;
    font-size: 14px;
    text-align: left;
    margin: 0px auto;
}

.desc.instr {
    margin-left: 5px;
    margin-right: 5px;
}

.desc.dir {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin: 5px;
    /* margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; */
}

.msg {
    color: white;
    font-size: 24px;
    margin: 2px auto;
}

.header{
    display:inline;
    vertical-align: sub;
}



#page {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

#prev {
    width: 80px;
    font-size: 12px;
    margin-right: 15px;
}

#next {
    width: 80px;
    font-size: 12px;
    margin-left: 15px;
}